{% extends 'layout.html' %}   
{% block main %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h1>{{ title }}</h1>
        {% include 'messages.html' %}
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="mb-3">
                    <h5 class="card-title">Paiements<span class="text-muted fw-normal ms-2">({{ nb_paiements }})</span></h5>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
                    <div>
                        <a href="{{ url_for('paiement_bp.add') }}" class="btn btn-primary"><i class="bx bx-plus me-1"></i> Ajouter un paiement</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="">
                    <div class="table-responsive">
                        <table class="table project-list-table table-nowrap align-middle table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">Libellé</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Montant</th>
                                    <th scope="col">Origine</th>
                                    <th scope="col">Type de paiement</th>
                                    <th scope="col">Contrat</th>
                                    <th scope="col" style="width: 200px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for paiement in paiements %}
                                    <tr>
                                        <td>{{paiement.libelle}}</td>
                                        <td>{{paiement.date.strftime("%d/%m/%Y")}}</td>
                                        <td>{{paiement.montant}}</td>
                                        {% if paiement.origine %}
                                        <td>caisse d'allocation familiale</td>
                                        {% else %}
                                        <td>locataire</td>
                                        {% endif %}
                                        <td>{{paiement.type_paiement.libelle}}</td>
                                        <td>{{paiement.contrat.libelle}}</td>
                                        <td>
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item">
                                                    <a href="{{ url_for('paiement_bp.edit', id=paiement.id) }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="px-2 text-primary"><i class="bx bx-pencil font-size-18"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="{{ url_for('paiement_bp.delete', id=paiement.id) }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}